<div class="blogs-container">
  <h1>Filter blogs by:</h1>
  <h2>Type</h2>
  <label class="container">Active
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    </label>
    <label class="container">Inactive
      <input type="checkbox" checked="checked">
      <span class="checkmark"></span>
    </label>
    <br>
  <h2>Status</h2>
  <label class="container">Active
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
  <label class="container">Inactive
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>
</div>
