  <!-- ****** mock page with a sidebar menu plus sidenav opening contact as well as the table row ****** -->
  <!-- <div>
    <app-sidenav>
      <app-contact-details></app-contact-details>
    </app-sidenav>
    <app-sidenav>
        <app-table></app-table>
      </app-sidenav>
    <app-sidebar-menu></app-sidebar-menu>
    <div>
      <router-outlet></router-outlet>
    </div>
  </div> -->
  
  <!-- server testing -->
  <!-- <div *ngFor="let message of messages | async">
    {{message.message}}
  </div> -->

  <!-- **** testing for filtering blogs koppelingen project **** -->
  <app-blogs></app-blogs>
  <app-data-table></app-data-table>